<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/movies/index.css" />
<%- include('../partials/nav') %>

<main>
  <h1>Flight List</h1>
  <table id="list">
    <thead>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </thead>
  </table>
</main>